<!DOCTYPE html>
<html ng-app="gemStore">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="products.js"></script>
</head>
<body class="list-group" ng-controller="StoreController as store">

	<!--  Store Header  -->
	<header>
		<h1 class="text-center">Flatlander Crafted Gems</h1>
		<h2 class="text-center"> an Angular store </h2>
	</header>

	<!--  Product Container  -->
	<div class="list-group-item" ng-repeat="product in store.products">
		<h3>
			<product-title></product-title>
		</h3>

		<!-- Image Gallery  -->
		<div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
			<img ng-src="{{product.images[gallery.current]}}" />
			<ul class="list-inline img-thumbnails clearfix">
				<li class="small-image thumbnail" ng-repeat="image in product.images">
					<img ng-src="{{image}}" />
				</li>
			</ul>
		</div>

		<!-- Product Tabs -->
		<product-panels ng-controller="PanelController as panels">
		</product-panels>

	</div>
</body>
</html>